*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body{
    height: 100%;
}
table thead{
    color: #fff;
}
.sticky{
    background: #007bff;
    position: sticky;
    top: 0;
}
.main{
    width: 100%;
}
#Name{
    color: #007bff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.underline{
    width: 50px;
    background-color: #007bff;
    height: 1.5px;
    border: none;
}
.content{
    margin-top: 30px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
}
.content .cases{
    width: 300px;
    min-width: 300px;
    background-color: transparent;
    height: 100px;
    color: #000;
    font-size: x-large;
    text-align: center;
}
.content .cases h1{
    color: #999;
    font-size: xx-large;
}
.content .deaths{
    width: 300px;
    min-width: 300px;
    background-color: transparent;
    height: 100px;
    color: #000;
    font-size: x-large;
    text-align: center;
}
.content .deaths h1{
    color: #ff0066;
    font-size: xx-large;
}
.content .recoveries{
    width: 300px;
    min-width: 300px;
    background-color: transparent;
    height: 100px;
    color: #000;
    font-size: x-large;
    text-align: center;
}
.content .recoveries h1{
    color: lime;
    font-size: xx-large;
}
.chart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}